<div>
    <header class="d-flex justify-content-between align-center p-3 px-4 bg-primary">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <h3 class="m-0"> <a routerLink="/counter" class="navbar-brand">Counter App
                        <span class="badge rounded-circle badge-secondary bg-secondary px-3 py-2 m-0" *ngIf="count">
                            <h5 class="m-0">{{count}}</h5>
                        </span></a></h3>

            </li>
        </ul>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <h4 class="m-0"> <a class="navbar-brand" routerLink="/weather">Weather App</a></h4>
            </li>
        </ul>
    </header>
</div>